@tailwind base;
@tailwind utilities;

#root {
  height: 100vh;
}

.card {
  transition: transform ease-in 200ms;
  width: 100px;
  height: 160px;

  @apply flex justify-center align-middle flex-col;
  @apply border border-indigo-100 rounded-lg;
  @apply bg-indigo-200 shadow-xl;
  @apply text-indigo-600 text-6xl text-center cursor-pointer;
}

.card-reversed {
  background: url("./assets/hexagons.svg"), #7f9cf5;
  border: 1px solid #c3dafe;
  color: transparent;
}

.card-unchosen {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

.card-selected {
  position: relative;
  transform: translateY(-40px);
}
